@page
@model lab5.Pages.ManagerView.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Manager</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manager.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manager.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manager.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manager.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manager.Patronymic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manager.Patronymic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manager.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manager.Company.ContactPhone)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Manager.ManagerId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
